<!-- Logo -->
<a href="index2.html" class="logo">
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini"><b>A</b>LT</span>
  <!-- logo for regular state and mobile devices -->
  <span class="logo-lg"><b>Admin</b>LTE</span>
</a>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <div class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
  </div
  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">

      <!-- User Account Menu -->
      <li ng-if="authenticated" class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
          <!-- hidden-xs hides the username on small devices so only the image appears. -->
          <span> <span class="hidden-xs">Você esta logado como </span> <b>{{currentUser.name}}</b></span>
        </a>
        <ul class="dropdown-menu">
          <!-- The user image in the menu -->
          <li class="user-header">
            <p>
              {{currentUser.name}} - Web Developer
              <small>Membro desde {{currentUser.created_at}}</small>
            </p>
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a href="javascript:;" class="btn btn-default btn-flat">Perfil</a>
            </div>
            <div ng-controller="AuthController as auth" class="pull-right">
              <div ng-click="auth.logout()" class="btn btn-default btn-flat">Logout</div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
