<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" role="status" aria-live="polite">Exibindo de {{table.from}} à {{table.to}} do total de {{table.total}} registros</div>
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                <li ng-class="{'disabled': table.current_page <= 1}" class="paginate_button previous">
                <a href="javascript:;" ng-click="anterior()">Anterior</a>
                </li>
                <li ng-repeat="i in [] | range:table.last_page" 
                    ng-class="{'active': i == table.current_page}"
                    class="paginate_button">
                        <a href="javascript:;" ng-click="pagina(i)">{{i}}</a>
                </li>
                <li ng-class="{'disabled': table.current_page >= table.last_page}" class="paginate_button next">
                    <a href="javascript:;" ng-click="proxima()" >Próxima</a>
                </li>
            </ul>
        </div>
    </div>
</div>