
<div class="modal-header">
  <button type="button" class="close" ng-click="fechar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Usuário</h4>
</div>
<div class="modal-body">

  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

  <form role="form">
    <!-- Nome do usuário-->
    <div class="form-group">
      <label>Nome {{registro.readOnly}}</label>
      <input type="text" class="form-control" ng-model="registro.name" ng-readonly="registro.readOnly" placeholder="Enter ...">
    </div>

    <!-- Email do usuário-->
    <div class="form-group">
      <label>E-mail</label>
      <input type="text" class="form-control" ng-model="registro.email" ng-readonly="registro.readOnly" placeholder="Enter ...">
    </div>

    <!-- Status do registro-->
    <div class="form-group">
      <label>Status</label>
      <select class="form-control" ng-readonly="registro.readOnly">
        <option>Ativo</option>
        <option>Inativo</option>
      </select>
    </div>

    <!-- Perfis -->
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Perfis</h3>
      </div><!-- /.box-header -->
      <div class="box-body">

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox"  ng-disabled="registro.readOnly">
              Administrador
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox"  ng-disabled="registro.readOnly">
              Formando
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" ng-disabled="registro.readOnly">
              Membro de comissão
            </label>
          </div>
        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->

    <!-- Resetar senha -->
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Resetar senha</h3>
      </div><!-- /.box-header -->
      <div class="box-body">


        <div class="form-group">
          <label>Senha</label>
          <input type="password" class="form-control" ng-model="registro.password"  ng-readonly="registro.readOnly">
        </div>

        <div class="form-group">
          <label>Confirmação de senha</label>
          <input type="password" class="form-control" ng-model="registro.password_confirmation"  ng-readonly="registro.readOnly">
        </div>


        <div class="form-group">
          <button type="button" class="btn btn-warning" ng-click="salvar()"  ng-disabled="registro.readOnly">Resetar senha</button>
        </div>

      </div><!-- /.box-body -->
    </div><!-- /.box -->


    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">Cuidado</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="form-group" role="group" aria-label="...">
          <label> Deseja excluír este usuário? </label>
        </div>
        <div class="btn-group clear" role="group" aria-label="...">
          <button type="button" class="btn btn-danger" ng-click="excluir()"  ng-disabled="registro.readOnly">Excluir usuário</button>
        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </form>

</div>
<div class="modal-footer text-right">
  <button ng-if="formXhr" ng-disabled="true" type="button" class="btn btn-success" ><i class="fa fa-spinner"></i> Salvando</button>
  <button ng-if="!formXhr" ng-disabled="formXhr" type="button" class="btn btn-success" ng-click="salvar()"  ng-disabled="registro.readOnly">Salvar Alterações</button>

  <button type="button" class="btn btn-default" ng-click="fechar()"  >Fechar</button>
</div>
