<!-- Opções -->
<div class="modal-header">
  <button type="button" class="close" ng-click="fechar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title text-cente">O que deseja fazer?</h4>
</div>
<div class="modal-body text-center">
  <div class="btn-group" role="group" aria-label="...">
    <button  ng-click="visualizar()" class="btn btn-app text-primary" ng-disabled="!hasRule('listar.usuario')"><i class="fa fa-eye text-primary"></i> Visualizar</button>
    <button href="javascript:;" ng-click="alterar()" class="btn btn-app text-warning" ng-disabled="!hasRule('alterar.usuario')"><i class="fa fa-edit text-warning"></i> Alterar</button>
  </div>
</div>
