<!-- Opções -->
<div class="modal-header">
  <button type="button" class="close" ng-click="fechar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title text-cente">O que deseja fazer?</h4>
</div>
<div class="modal-body text-center">
  <div class="btn-group" role="group" aria-label="...">
    <a href="javascript:;" ng-click="visualizar()" class="btn btn-app text-primary"><i class="fa fa-eye text-primary"></i> Visualizar</a>
    <a href="javascript:;" ng-click="alterar()" class="btn btn-app text-warning"><i class="fa fa-edit text-warning"></i> Alterar</a>
    <a href="javascript:;" ng-click="log()" class="btn btn-app"><i class="fa fa-history"></i> Histórico</a>
  </div>
</div>
