<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">

        <p class="login-box-msg">Recuperação de senha</p>
        <div class="well well-lg" ng-show="auth.linkEnviado">
            Enviei um e-mail com o link de recuperação de senha para o endereço {{auth.email}}.
        </div>
        <form name="loginForm" ng-keydown="$event.which === 13 && auth.enviarLink()" ng-hide="auth.linkEnviado">
            <div class="form-group has-feedback">
                <input name="email" required type="email" ng-minlength="4" ng-model="auth.email" class="form-control" placeholder="E-mail cadastrado">
                <span class="glyphicon glyphicon-mail form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <a ui-sref="login" class="btn btn-default btn-block btn-flat pull-right">Voltar ao Login</a>
                </div>
                <div class="col-xs-6">
                    <button ng-click="auth.enviarLink()" ng-disabled="loginForm.$invalid" type="button" class="btn btn-primary btn-block btn-flat">Recuperar senha</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
