/*
 * Formatação da navbar
 */
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 85px;
    padding: 10px;
    text-align: center;
}

/*
 * Alteração dos valores padrões dos modais
 */
.modal-action .modal-content {
    margin-top: 70%;
}

/*
 * Alteração dos valores padrões do loading-bar
 */
#loading-bar .bar {
    background: #FF0606;
    height: 3px;
}
#loading-bar-spinner .spinner-icon {
    border-top-color: #FF0606;
    border-left-color: #FF0606;
    width: 20px;
    height: 20px;
}


/*
 * Alteração dos valores padrões o iCheck
 */
 .icheckbox_square-blue, .iradio_square-blue {
    width: 23px;
}


/*
 * Formatações compartilhadas
 */
.pointer{
    cursor: pointer;
}

/*
 * Formatação das validações dos formulários
 */
 .ng-touched.ng-valid {
     background-color: #DEF3D6;
 }
.ng-touched.ng-invalid {
    background-color: #FFEDED;
}



/*
 * Exibição de tabelas e registros
 */

 .table .excluido,  .table .excluido:hover{
     background-color: #C5C4C4;
     opacity: 0.4;
 }

@media screen and (max-width: 767px){
	div.dataTables_length, div.dataTables_filter{
		text-align: left;
	}

}

@media only screen and (max-width: 800px) {

	/* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border: 1px solid #ccc; }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
