.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 85px;
    padding: 10px;
    text-align: center;
}

.modal-action .modal-content {
    margin-top: 70%;
}


@media screen and (max-width: 767px){
	div.dataTables_length, div.dataTables_filter{
		text-align: left;
	}

}
